name: CI

on:
  pull_request:
    paths-ignore:
    - '**.rst'
    - '**.org'
  push:
    paths-ignore:
    - '**.rst'
    - '**.org'
    branches-ignore:
    - 'master'
    - 'main'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        emacs_version: [25.3, 26.3, 27.2, 28.2, 29.1, snapshot]
        include:
          - os: macos-latest
            emacs_version: 29.1
    steps:
    - uses: actions/checkout@v3
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: paths
      run: |
        echo "$HOME/local/bin" >> $GITHUB_PATH
        echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        echo "LD_LIBRARY_PATH=$HOME/.local/lib" >> $GITHUB_ENV
    - run: 'make test'
      continue-on-error: ${{ matrix.emacs_version == 'snapshot' }}
    - if: startsWith(matrix.emacs_version, '29')
      run: 'make install'
